:root {
  color-scheme: dark;
  font-family: Monospace;
  background-image: linear-gradient(to bottom, #200020, #400040);
  padding: 0;
  margin: 0;
}

body {
  scroll-target-group: auto;
  padding: 0;
  margin: 0;
}

#page {
  position: relative;
  padding: 0;
  margin: 0;
}

#content {
  position: relative;
  display: flex;
}

#left {
  position: relative;
  order: 1;
  flex-grow: 1;
}
#right {
  position: relative;
  order: 3;
  flex-grow: 1;
}

#mid {
  order: 2;
  flex-grow: 0;
  position: relative;
  padding: 0;
  margin: 0;
  padding: 24px;
  padding-top: 12px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #100010F0;
  z-index: 5;
}

@media (max-width: 1130px) {
  .margin-decoration {
    visibility: hidden;
  }
}

footer {
  border-top: 1px solid white;
  text-align: center;
  padding-top: 24px;
  margin-top: 24px;
}

#lowsky {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 500px;
  background-image: linear-gradient(to bottom, #00000000, #FF880080);
}

#horizon {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-image: linear-gradient(to bottom, #00000000, #FF800080);
}

#mountains {
  z-index: 2;
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  height: 300px;
  background-image: url("mountains.svg");
  background-repeat: repeat-x;
  background-size: 1200px;
  background-position: left bottom;
}

#mountains-base {
  z-index: 3;
  position: absolute;
  bottom: 185px;
  left: 0;
  right: 0;
  height: 30px;
  background-image: linear-gradient(to bottom, #00000000, #00CCCCFF, #00000000);
}

#ground {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: linear-gradient(to bottom, #001010, #002020);
  overflow: hidden;
}

#grid {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 200%;
  left: -50%;
  background-image: url("grid.png");
  height: 250px;
  transform: perspective(30px) rotateX(8deg);
  background-size: 40px 15px;
  filter: blur(1px);
}

#grid-overlay1 {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: linear-gradient(to bottom, #00000080, #00000000);
}

#grid-overlay2 {
  z-index: 4;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 100px;
  background-image: linear-gradient(to bottom, #00FFFF80, #00000000);
}

.palm {
  position: absolute;
  bottom: 40px;
  z-index: 4;
  filter: hue-rotate(120deg);
}

#palm1 {
  right: 0px;
  background-image: url("palm1.png");
  width: 530px;
  height: 856px;
}

#palm2 {
  left: 0px;
  background-image: url("palm2.png");
  width: 441px;
  height: 767px;
  transform: scaleX(-1);
}

#keyboard {
  position: absolute;
  z-index: 5;
  background-image: url("keyboard3.svg");
  background-repeat: no-repeat;
  height: 160px;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-size: contain;
}

.ibis-size {
  width: 190px;
  height: 251px;
  display: inline-block;
  background-size: contain;
}

#glasses-left {
  background-image: url("glasses-left.png");
  z-index: 11;
}

#glasses-right {
  background-image: url("glasses-right.png");
  z-index: 13;
}

.glasses {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
}

#ibis {
  position: relative;
  background-image: url("ibis.png");
  z-index: 12;
}

#spin {
  transition-duration: 0s;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
}

#spin:target-current {
  transform: rotate(-360deg);
  transition:
    transform 0.5s linear 2s;
  filter: brightness(100%);
  animation: flash-bright 0.25s;
}

#spin:target-current .glasses {
  margin-bottom: 0;
}

@keyframes flash-bright {
  0%   { filter: brightness(1); }
  10%  { filter: brightness(4); }
  100% { filter: brightness(1); }
}
