:root {
  color-scheme: dark;
  font-family: Monospace;
  background-image: linear-gradient(to bottom, #200020, #400040);
  padding: 0;
  margin: 0;
}

body {
  scroll-target-group: auto;
  padding: 0;
  margin: 0;
}

#page {
  position: relative;
  padding: 0;
  margin: 0;
}

#content {
  position: relative;
  display: flex;
}

#left {
  position: relative;
  order: 1;
  flex-grow: 1;
}
#right {
  position: relative;
  order: 3;
  flex-grow: 1;
}

#mid {
  order: 2;
  flex-grow: 0;
  position: relative;
  padding: 0;
  margin: 0;
  padding: 24px;
  padding-top: 12px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #100010F0;
  z-index: 5;
}

@media (max-width: 1130px) {
  .margin-decoration {
    visibility: hidden;
  }
}

footer {
  border-top: 1px solid white;
  text-align: center;
  padding-top: 24px;
  margin-top: 24px;
}

#lowsky {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 500px;
  background-image: linear-gradient(to bottom, #00000000, #FF880080);
}

#horizon {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-image: linear-gradient(to bottom, #00000000, #FF800080);
}

#mountains {
  z-index: 2;
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  top: 0;
  background-image: url("assets/mountains.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}

#mountains-base-brighter {
  z-index: 3;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  height: 100px;
  background-image: linear-gradient(to bottom, #00000000, #00CCCCFF, #00000000);
  opacity: 0;
  transition-duration: 0.1s;
}

#mountains-base {
  z-index: 3;
  position: absolute;
  bottom: 185px;
  left: 0;
  right: 0;
  height: 30px;
  background-image: linear-gradient(to bottom, #00000000, #00CCCCFF, #00000000);
}



#ground {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: linear-gradient(to bottom, #001010, #002020);
  overflow: hidden;
}

#grid {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 200%;
  left: -50%;
  background-image: url("assets/grid.png");
  height: 250px;
  transform: perspective(30px) rotateX(8deg);
  background-size: 40px 15px;
  filter: blur(1px);
}

#grid-overlay1 {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: linear-gradient(to bottom, #00000080, #00000000);
}

#grid-overlay2 {
  z-index: 4;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 100px;
  background-image: linear-gradient(to bottom, #00FFFF80, #00000000);
}

.palm {
  position: absolute;
  bottom: 40px;
  z-index: 4;
  filter: hue-rotate(120deg);
}

#palm1 {
  right: 0px;
  background-image: url("assets/palm1.png");
  width: 530px;
  height: 856px;
}

#palm2 {
  left: 0px;
  background-image: url("assets/palm2.png");
  width: 441px;
  height: 767px;
  transform: scaleX(-1);
}

#keyboard {
  position: absolute;
  height: 200px;
  bottom: 0;
  left: -10px;
  right: 10px;
  z-index: 5;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

#keyboard div {
  position: absolute;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

#key-0 { background-image: url("assets/key-0.png") }
#key-1 { background-image: url("assets/key-1.png") }
#key-2-f { background-image: url("assets/key-2-f.png") }
#key-2-b { background-image: url("assets/key-2-b.png") }
#key-3 { background-image: url("assets/key-3.png") }
#key-4-f { background-image: url("assets/key-4-f.png") }
#key-4-b { background-image: url("assets/key-4-b.png") }
#key-5 { background-image: url("assets/key-5.png") }
#key-6 { background-image: url("assets/key-6.png") }
#key-7-f { background-image: url("assets/key-7-f.png") }
#key-7-b { background-image: url("assets/key-7-b.png") }
#key-8 { background-image: url("assets/key-8.png") }
#key-9-f { background-image: url("assets/key-9-f.png") }
#key-9-b { background-image: url("assets/key-9-b.png") }
#key-10 { background-image: url("assets/key-10.png") }
#key-11-f { background-image: url("assets/key-11-f.png") }
#key-11-b { background-image: url("assets/key-11-b.png") }
#key-12 { background-image: url("assets/key-12.png") }
#key-13 { background-image: url("assets/key-13.png") }
#key-14-f { background-image: url("assets/key-14-f.png") }
#key-14-b { background-image: url("assets/key-14-b.png") }
#key-15 { background-image: url("assets/key-15.png") }
#key-16-f { background-image: url("assets/key-16-f.png") }
#key-16-b { background-image: url("assets/key-16-b.png") }
#key-17 { background-image: url("assets/key-17.png") }
#key-18 { background-image: url("assets/key-18.png") }
#key-19-f { background-image: url("assets/key-19-f.png") }
#key-19-b { background-image: url("assets/key-19-b.png") }
#key-20 { background-image: url("assets/key-20.png") }
#key-21-f { background-image: url("assets/key-21-f.png") }
#key-21-b { background-image: url("assets/key-21-b.png") }
#key-22 { background-image: url("assets/key-22.png") }
#key-23-f { background-image: url("assets/key-23-f.png") }
#key-23-b { background-image: url("assets/key-23-b.png") }
#key-24 { background-image: url("assets/key-24.png") }

#keyboard .hover {
  filter: brightness(75%);
}

.ibis-size {
  width: 190px;
  height: 251px;
  display: inline-block;
  background-size: contain;
}

#glasses-left {
  background-image: url("assets/glasses-left.png");
  z-index: 11;
}

#glasses-right {
  background-image: url("assets/glasses-right.png");
  z-index: 13;
}

.glasses {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
}

#ibis {
  position: relative;
  background-image: url("assets/ibis.png");
  z-index: 12;
}

#spin {
  transition-duration: 0s;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
}

#spin:target-current {
  transform: rotate(-360deg);
  transition:
    transform 0.5s linear 2s;
  filter: brightness(100%);
  animation: flash-bright 0.25s;
}

#spin:target-current .glasses {
  margin-bottom: 0;
}

@keyframes flash-bright {
  0%   { filter: brightness(1); }
  10%  { filter: brightness(4); }
  100% { filter: brightness(1); }
}

#star-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#star-container div {
  z-index: 0;
  color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  text-shadow: 0 0 5px #fff;
}
#star-container div::before {
  content: ".";
}
