<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Purple Earth Hypothesis">
    <meta property="og:type" content="website">
    <meta name="color-scheme" content="dark">

    {# Required for correct display on mobile devices. Without this some links and headings are rendered too small. #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page %}
      <meta property="og:type" content="article">
      <meta property="og:title" content="{% block title %}{% endblock title %}">
      <link rel="canonical" href="{{ page.permalink | safe }}">
      <meta property="og:url" content="{{ page.permalink | safe }}">

      {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        <meta property="og:description" content="{{ page.description }}">
      {% else %}
        <meta name="description" content="DIY Synthesizer Blog">
        <meta property="og:description" content="DIY Synthesizer Blog">
      {% endif %}

      {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
      {% endif %}
      {% if page.extra.og_image %}
        <meta property="og:image" content="{{ page.permalink | safe }}{{ page.extra.og_image }}">
      {% else %}
        <meta property="og:image" content="{{ config.base_url | safe }}/og_image.png">
      {% endif %}
    {% elif section %}
      <meta property="og:title" content="{% block title %}{% endblock title %}">
      {% if section.description %}
        <meta name="description" content="{{ section.description }}">
        <meta property="og:description" content="{{ section.description }}">
      {% else %}
        <meta name="description" content="DIY Synthesizer Blog">
        <meta property="og:description" content="DIY Synthesizer Blog">
      {% endif %}
    {% endif %}

    <meta property="og:image" content="{{ config.base_url | safe }}/ibis.png">


    <link rel="icon" type="image/x-icon" href="{{ config.base_url | safe }}/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="Purple Earth Hypothesis" href="{{ config.base_url | safe }}/rss.xml">
    <link rel="alternate" type="application/atom+xml" title="Purple Earth Hypothesis" href="{{ config.base_url | safe }}/atom.xml">

    <link rel="stylesheet" href="{{ config.base_url | safe }}/style.css">
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <div id="page">
      <!-- Empty tag so that the normal scroll target has something apply to,
        even though it has no visible effect. Without this the "ibis" scroll target
        would always be active. -->
        <a href="#normal-scroll-target"></a>

        <div id="columns">

          <div id="left"></div>

          <div id="right">
            <div id="keyboard" class="margin-decoration">
              <div id="key-24"></div>
              <div id="key-23-b"></div>
              <div id="key-22"></div>
              <div id="key-23-f"></div>
              <div id="key-21-b"></div>
              <div id="key-20"></div>
              <div id="key-21-f"></div>
              <div id="key-19-b"></div>
              <div id="key-18"></div>
              <div id="key-19-f"></div>
              <div id="key-17"></div>
              <div id="key-16-b"></div>
              <div id="key-15"></div>
              <div id="key-16-f"></div>
              <div id="key-14-b"></div>
              <div id="key-13"></div>
              <div id="key-14-f"></div>
              <div id="key-12"></div>
              <div id="key-11-b"></div>
              <div id="key-10"></div>
              <div id="key-11-f"></div>
              <div id="key-9-b"></div>
              <div id="key-8"></div>
              <div id="key-9-f"></div>
              <div id="key-7-b"></div>
              <div id="key-6"></div>
              <div id="key-7-f"></div>
              <div id="key-5"></div>
              <div id="key-4-b"></div>
              <div id="key-3"></div>
              <div id="key-4-f"></div>
              <div id="key-2-b"></div>
              <div id="key-1"></div>
              <div id="key-2-f"></div>
              <div id="key-0"></div>
            </div>
          </div>

          <div id="mid">
            <div id="content">
                {% include "header.html" %}
                {% block content %} {% endblock content %}
                <!-- end of "content" -->
            </div>

            {% include "footer.html" %}

            <!-- end of "mid" -->
          </div>

          <!-- end of "columns" -->
        </div>

        <a id="spin" class="ibis-size margin-decoration" href="#ibis-scroll-target">
          <div id="glasses-left" class="glasses ibis-size"></div>
          <div id="glasses-right" class="glasses ibis-size"></div>
          <div id="ibis" class="ibis-size"></div>
        </a>

        <div id="normal-scroll-target"></div>
        <div id="ibis-scroll-target"></div>

        <div id="lowsky"></div>
        <div id="horizon"></div>
        <div id="mountains"></div>
        <div id="mountains-base"></div>
        <div id="mountains-base-brighter"></div>
        <div id="ground">
          <div id="grid-overlay1"></div>
          <div id="grid-overlay2"></div>
          <div id="grid"></div>
        </div>

        <div id="palm1" class="palm"></div>
        <div id="palm2" class="palm"></div>

        <div id="star-container"></div>

        <!-- end of "page" -->
    </div>
    <script>
      const NUM_STARS = 500;
      const MAX_STAR_TOP_PX = 8000;
      function make_star() {
        const star = document.createElement("div");
        star.style.left = `${parseInt(Math.random() * 94 + 2)}%`;
        star.style.top = `${parseInt(Math.random() * MAX_STAR_TOP_PX)}px`;
        star.style.fontSize = `${parseInt(Math.random() * 20 + 8)}px`;
        return star;
      }
      const star_container = document.getElementById("star-container");
      for (let i = 0; i < NUM_STARS; i++) {
        star_container.appendChild(make_star());
      }
    </script>
    <script type="text/javascript" src="{{ config.base_url | safe }}/keyboard.js"></script>
    <script>
      run_keyboard("{{ config.base_url | safe }}/assets/keyboard-color-map.png");
    </script>
  </body>
</html>
