{# Index page for blog-like sections #}
{% extends "section.html" %}

{% import "macros.html" as macros %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>

{{ section.content | safe }}

<p>
This blog can be read in a feed reader by subscribing to its
<a href="{{ config.base_url | safe }}/atom.xml">Atom</a> or
<a href="{{ config.base_url | safe }}/rss.xml">RSS</a> feed.
</p>

See the <a href="{{ config.base_url | safe }}/tags">Tags</a> page for a list of posts organized by tag.

<h2>Posts</h2>

<ul>
  {% for page in section.pages %}
  <li>{{ macros::post_link(page=page) }}</li>
  {% endfor %}
</ul>
{% endblock content %}

